

/*CSS PRESO DA ALCUNE GUIDE SU INTERNET E IN PARTE MODIFICATO DA ME*/
html {background-color: #c9c9c9;  font-family:verdana,sans-serif; font-size: 1em;}
body {background-color: white; margin-left: 13%; margin-right:13%; margin-top:0; }



h1{ text-align:center;font-family:Verdana,sans-serif;}


	.contenuto{
		padding-left:3%;
		padding-right:3%;

	}




	.nav{
		padding-left:3%;
		padding-right:3%;
	}


      .menu {
        font-family:Verdana;
          width: 100%;
          height: auto;
      }



      .menu ul {
    list-style-type: none;
		display:inline;
		float:left;
		width:95%;
		margin:0;
		padding:0;
		background-color:white;
     margin-bottom: 1em;
		padding-left:3%;
      }
       .menu ul li {
		  float:left;
        }

      .active,.menu ul li a {
        display:block;
        padding: 0 1.2em;
        line-height: 3em;       
        text-decoration: none;
        color: black;
		    font-size:0.9em;
		    font-weight: bold;
      }


      .menu ul li a:hover {
        text-decoration: underline;
      }

	.menu ul li a:visited{
        color: purple;
      }


.footer{background-color: white;
        padding-top: 0.5em;
        padding-bottom:0.5em;
        clear:both;
        font-variant:small-caps; 
        text-align:center;
}


@media all and (max-width: 768px){
	body{margin:0;}

	.menu ul{
		margin-left:-3%;
		text-align:center;
		padding-left:4.3%;
	}

	.menu ul li{
		float:none;
		text-align:center;
	}
}


@media all and (min-width: 1900px){ /*per schermi molto grandi*/
  body{
        margin: 0 auto; 
        width: 1900px;
    }
}