html {background-color:#d4d4d4;  font-family:verdana,sans-serif; font-size: 1em;}
body {background-color:#d0f2d0; margin-left: 13%; margin-right:13%; margin-top:0; }

h1{ text-align:center;font-family:Verdana,sans-serif;margin-top:4em;}
h2{ font-family:Verdana,sans-serif;}

#indice h1{margin-top:1em;}

#errore_prezzo1{
float:left;
color:red;
}

.citazione{
font-style:Italic;
width:auto;
height:auto;
clear:both;
margin-top:0em;
}

#errore_prezzo2, #errore_orario, #errore_notizia1, #errore_notizia2{
float:left;
color:red;
}

a.salta {
left:-999px;
position:absolute;
top:auto;
width:1px;
height:1px;
overflow:hidden;
z-index:-999;
}

a.salta:focus, a.salta:active {
left: auto;
top: 5em;
width: 30%;
height: auto;
overflow:auto;
margin: 50px 21%;
padding:5px;
border-radius: 15px;
text-align:center;
font-size:1.2em;
z-index:999;
}

.titolo
{
padding-left:3.2em;
font-size:2em;
}

.titolo a{text-decoration: none; color:black;}

.sottotitolo{padding-left:12.5em;}

.sottotitolo a{text-decoration: none; color:black;}

.indice{
float:left;
clear:both;
width:20%;
border:1px solid;
margin-left:3%;
margin-right:3%;
text-align:center;
border-radius:50px;
background-color:white;
}

.foto{
margin-top:3em;
}

#foto1
{width:60%;
padding-top:3em;
}

.foto2
{width:30%;
margin-top:4em;
}

.fotonews{width:30%;}
	
.footer{
background-color:#d0f2d0;
padding-top: 0.5em;
padding-bottom:0.5em;
clear:both;
font-variant:small-caps; 
text-align:center;
}

.titolo_testo{
	clear:left;
    margin-top:0em;
}

.logo {float:left;
    max-width: 10em;
  margin-left:3%;}

.valido{
padding:0;
padding-left: 0.5em;
padding-right: 0.5em;
display: inline;
vertical-align: middle;
}

#menu {
font-family:Verdana;
width: 100%;
height: auto;
}

#menu ul {
list-style-type: none;
display:inline;
float:left;
width:96.4%;
margin:0;
padding:0;
background-color:white;
margin-bottom: 1em;
padding-left:3%;
}

#menu ul li {
float:left;
color: red;
}

.active,#menu ul li a {
display:block;
padding: 0 1em;   
line-height: 3em;  
text-decoration: none;
color: black;
font-size:0.9em;
font-weight: bold;
}

#menu ul li a:hover {
text-decoration: underline;
background:#F6F4F2;
}

#menu ul li a:focus{
outline: 0;
}

#menu ul li a:visited{
color: purple;
}

.mappa{margin-left:20%;font-size:19px;}

#volpe{
clear: right;
padding-top: 1em;
width: 30%;
float: right;
}

#volpetesto{
float:right;
font-size:0.7em;
clear:right;
margin-bottom:2%;
max-width:40%;
}

#gallo{
clear: right;
padding-top: 1em;
width: 25%;
float: right;
}

#gallotesto{
float:right;
font-size:0.7em;
clear:right;
margin-bottom:2%;
max-width:40%;
}

#pianta{
clear: right;
padding-top: 1em;
width: 25%;
float: right;
}

#piantatesto{
float:right;
font-size:0.7em;
clear:right;
margin-bottom:2%;
max-width:40%;
}

.attivita{
clear: right;
padding-top: 1em;
width: 30%;
float: right;
}

.blocco{
margin-top:1em;
}

.blocconews{
clear:left;
text-align:center;
}

strong{margin-right:3%;}
ul{border-radius:3px solid black;}
.bloccosingolonew{
clear:left;
text-align:center;
border:1px solid black;
}

#blocco2{
width:50%;
}

input#user_pwd{
padding-left:2em;
}

.testo_centrato {
text-align:center;
}

.contenuto{
padding-left:4%;
padding-right:3%;
}

.contenutoform{
margin-top:5em;
}

.nav{
padding-left:3%;
padding-right:3%;
}

#up { 
text-align: center;
width: 100%;
display: inline-block;
text-decoration:underline;
padding-bottom: 0.5em;
padding-top: 0.5em;
margin-bottom:1em;
border-bottom: 1px solid;
border-bottom-color: black;
border-top:1px solid black;
background-color:white;
}

.lista{
border-top:3px solid;
border-bottom:3px solid;
border-color:black;
border-left:3px solid;
border-right:3px solid;
}
.formadmin{margin-top:6em;}
.form12 {
width:auto;
float:left;
clear:left;
margin-right:6px;
}

.form3 {
margin-right:6px;
}

#form123 {
display:inline;
}

.el_notizia{
width: auto;
padding-top:1em;
}

fieldset { 
padding: 1em; 
width:auto;
}

.informazioni label {
display:block;
float:left;
width:155px;
font-weight:bold;
padding-right:0;
font-family:Verdana, sans-serif;
font-size:13px;
}

.informazioni p{
float:left;
clear:both;
}

.informazioni input { 
font-weight: bold; 
font-family: Verdana,helvetica,sans-serif;
width:100%; 
border:#73848C 1px solid; 
padding:0;
height:2em;
}

.informazioni textarea {
width:90%;
}

.categorie {
width:100%;
float:left;
}

.immagine_cat{ 
display:block; margin:0 auto;
max-width:200px;
max-height:200px;
min-height:200px;
}

.titolo_categoria{
text-align: center;
text-transform: uppercase;
float: left;
padding: 0.825em;
background: #fff;
border-radius: 1em;
box-shadow: 0 0 0.188em #c5c2a9;
margin-right: 0.15em;
}

.indirizzo{
padding: 0;
vertical-align: middle;
width: 90%;
display: inline;
vertical-align: middle;}

@media all and (max-width:1350px){

	.form1, form12, form2, form3{
	width:100%;
	}

	.categorie {
	width:100%;
	float:left;
	}

	.immagine_cat{ 
	display:block; margin:0 auto;
	max-width:200px;
	max-height:200px;
	min-height:200px;
	}

	.titolo_categoria{
	text-align: center;
	text-transform: uppercase;
	float: left;
	padding: 0.825em;
	width:45%;
	background: #fff;
	border-radius: 1em;
	box-shadow: 0 0 0.188em #c5c2a9;
	margin-right: 0.3em;
	clear:right;
	}

	.blocco{margin-left:0;}
}

@media all and (max-width:922px){
	body{
	margin:0;
	}

	.logo{float:none; display:block; margin:0 auto;}

	.titolo{
	padding:0;
	text-align:center;
	display:block; margin:0 auto;
	}

	.sottotitolo{
	padding:0;
	text-align:center;
	display:block; margin:0 auto;
	margin-bottom:3%
	}

	.categorie {
	width:100%;
	float:left;
	}

	.immagine_cat{ 
	display:block; margin:0 auto;
	max-width:100%;
	max-height: 15em;
	}

	.titolo_categoria{
	text-align: center;
	text-transform: uppercase;
	float: none;
	width:93%;
	padding: 0.825em;
	background: #fff;
	border-radius: 1em;
	box-shadow: 0 0 0.188em #c5c2a9;
	margin-right: 0.3em;
	}

	#menu ul
	{
	margin-left:-0;
	text-align:center;
	padding-left:0;
	width:97%;
	}
	
	#menu ul li{
	float:none;
	text-align:center;
	border:1px solid black;
	}
	
	.nav{

		float:left;
		padding-bottom:1em;
		margin-left:3%;
		margin-right:3%;

	} 

	.indirizzo{
			padding: 0;
			padding-left: 5%;
			padding-right: 5%;
			width: 90%;
			display: block;
			  }

	.valido{
			padding:0;
			vertical-align: center;
			padding-left: 0.5em;
			padding-right: 0.5em;

		  }
	
		  .indice{
			float:left;
			clear:left;
			width:98.7%;
			margin-left:0;
			margin-right:0;
			margin-top:3%;
		}

	#foto1 {
	width:80%;}

	.fotonews{
	width:90%;
	}

	.foto2{
	width:80%;}

	input#invia{
	width:auto;
	display:block;
	}

	input#azzera{
	width:auto;
	display:block;
	}
}

@media all and (min-width:769px)
{
	.nav{
	float:left;
	padding-bottom:1em;
	margin-left:3%;
	margin-right:3%;
	}
}

@media all and (min-width:1900px) 
{
    body{
    margin: 0 auto; 
    width: 1900px;
    }
}